*{
	box-sizing: border-box;
}

body{

	margin: 0;


}

.container{
	display: flex;
	justify-content: center;
	max-width:1200px;
	margin:0 auto;
	flex-wrap: wrap;
}

header{
	background-image: url('../images/game.jpg');
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	height: 680px;
}

header .form
{
	z-index: 99999999;
	width: 100%;
}

header .form form{
	display: flex;
	justify-content: center;
    height: 55vh;
    align-items: center;

}


/*header .form form:hover{

	height: 45vh;
}*/

header .form form input[type="text"]{
	border: 1px solid #FFF;
    background: none;
    font-size: 35px;
    padding:7px 0 7px 5px;
    width: 700px;
    border-radius: 10px 0 0 10px;
    color: #6b6b6b
}

header .form form input[type="submit"]{
    width: 160px;
    border: 2px solid #1F1F1F;
    background: #1F1F1F;
    color: #a9a9a9;
    height: 58px;
    border-radius: 0 10px 10px 0;
}
header .form h1
{
	color:#6b6b6b;
	text-align: center;
	font-size: 60px;
	text-transform: capitalize;

}

header{


}

header:after{
	content: "";
	width: 100%;
	height: 680px;
	background: #000;
	opacity: .7;
	top: 0;
	left: 0;
	position: absolute;
}

header .details{
	/*border: 1px solid #FFF;*/
	width: 74%;
	/*height: 300px;*/
	display: flex;
	justify-content: space-between;
	margin-top: -67px;

}

header .details .img{
	width: 220px;
	height: 300px;
	border: 1px solid #FFF;
	margin:10px 0 0 10px;
	z-index: 8888;


}

header .details .img img{
	width: 100%;
	height: 100%;
}
header .details .det{

	/*border: 1px solid #FFF;*/
	width: 75%;
	margin: 10px;
	height: 300px;
	color: #FFF;


}

header .details .det .info1,
header .details .det .info2{
	border: 1px solid #FFF;
	margin: 0 10px 10px 10px;
	background: #1F1F1F;
	opacity: .7;
}

header .details .det .info1{
	height: 60%;
}
header .details .det .info2{
		height:37%;
		margin-top: 10px;
}


@media (max-width: 500px){



	header{

		background-image: url('../images/game1.jpg');
		max-width: 100%;
		height: 700px;


	}
	header:after{


	height: 680px;

}
	header .form form{

	    height: 30vh;
	    flex-wrap: wrap;

	}


	header .form form input[type="text"]{
	    width: 70%;
	    border-radius: 10px;
	}

	header .form form input[type="submit"]{
	    width: 30%;
	    border-radius: 10px;



	}

	header .details{
		/*border: 1px solid #FFF;*/
		width: 100%;
		/*height: 300px;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: center;


	}
	header .details .img{
		width: 90%;
		margin: 40px auto 0;
		height: 50%;

	}

	header .details .det .info1{
		width: 100%;
		height: 50%;
		margin: 10px auto 0 ;
	}
	header .details .det .info2{
			width:100%;
			margin: 10px auto 0 ;
	}
}


@media (max-width: 780px){

	header{

		background-image: url('../images/game2.jpg');
		max-width: 100%;


		}
	header:after{


		height: 680px;

}
	header .form form{

	    height: 30vh;
	    flex-wrap: wrap;

	}


	header .form form input[type="text"]{
	    max-width: 70%;
	    border-radius: 10px;
	}

	header .form form input[type="submit"]{
	    max-width: 48%;
	    border-radius: 10px;



	}
}
